<!doctype html>
<html lang="en">
  <head>
    <title>Sinatra Hangman</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <header>
    <h2>Welcome to hangman</h2>
    <h1>Hangman</h1>
    </header>
    <div class="stickman">
      <%= erb :stickman %>
    </div>
    <div class="letters">
      <%= erb :letters %>
    </div>
  </body>
</html>
